*.py[cod]
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Vim Backups
*.swp
*.swo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Large dictionary
posteriorDict
metRuns
normal4PerLLMet
normal4PerLLMetDec4
normal4PerLLMetDec44
Eager_Met_10_180
Eager_Met_P2v_10_180
Eager_Met_P5v_10_180
Met_10_60
Slice_10_60
MetRuns_25_60
Part5Runs_25_60
SliceRuns_25_60
Eager_Met_10_60
Lazy_Met_10_60
Met_P2_10_60
marsagliaPost
SlicePart5Runs_25_60
