*.py[cod]
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Large dictionary
posteriorDict
metRuns
normal4PerLLMet
normal4PerLLMetDec4
normal4PerLLMetDec44
normal9Dec10Timed10
normal9Dec15Timed10
normal9Dec5Timed10
normal9Timed10
branchingTimed1
sliceMet05RunsByLL
Eager_Met_10_600
Lazy_Met_10_600
hmm1RunMet_20_1e
hmm1RunSliceTD_20_1e
hmmRunMet_10_600
hmmRunMet_20_1
hmmRunMet_20_1e
hmmRunMet_2_10_0
hmmRunMet_2_10_4
hmmRunMet_2_10_5
hmmRunMet_2_30_0
hmmRunMet_2_30_1
hmmRunMet_2_30_2
hmmRunMet_2_30_5
hmmRunMet_2_test_0
hmmRunMet_2_test_6
hmmRunPart1_10_600
hmmRunPart5_10_600
hmmRunSliceTD_10_600
hmmRunSliceTD_20_1
hmmRunSliceTD_20_1e
hmmRunSliceTD_2_10_0
hmmRunSliceTD_2_10_4
hmmRunSliceTD_2_10_5
hmmRunSliceTD_2_30_0
hmmRunSliceTD_2_30_1
hmmRunSliceTD_2_30_2
hmmRunSliceTD_2_30_5
normal1PerLLMet
normal1PerLLMetDec4
normal2PerLLMet
normal2PerLLMetDec4
normal2PerLLMetDec44
normal3PerLLMet
normal4MetTimed1
normal4PerLLSliceV1
normal4SliceTDTimed1
normal4SliceTimed1
Eager_Met_10_180
Eager_Met_10_60
Eager_Met_P2v_10_180
Eager_Met_P5v_10_180
Lazy_Met_10_60
Met_10_60
Met_P2_10_60
Slice_10_60
marsagliaPost
MetRuns_25_60
Part5Runs_25_60
SlicePart5Runs_25_60
SliceRuns_25_60
